.services {
  padding: 55px 0 15px;
}

.services__container {
  text-align: center;
}

.services__title {
  margin-bottom: 15px;
}

.services__text {
  @include roboto-regular(12px, 24px, $text-darkgray);

  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.services__cadrs {
  @include reset-list;
}
