.service-card {
  margin-bottom: 20px;

  text-align: left;
}

.service-card__image {
  margin-bottom: 10px;
}

.service-card__title {
  @include montserrat-black(22px, 30px, $text-black);

  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-transform: uppercase;
}

.service-card__text {
  @include roboto-regular(14px, 24px, $text-darkgray);

  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.service-card__link {
  @include roboto-regular(14px, 24px, $text-darkgray);

  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}
