.button {
  display: block;
  padding: 0;

  font: inherit;

  text-align: center;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.button--orange {
  @include roboto-regular(14px, 24px, #ffffff);

  background-color: $orange;
}

.button--white {
  @include roboto-regular(14px, 24px, $orange);

  background-color: #ffffff;
}
