@mixin pseudo {
  content: "";
  position: absolute;
}

@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin roboto-regular($sz, $lh, $color) {
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: $sz;
  line-height: $lh;
  color: $color;
}

@mixin roboto-medium($sz, $lh, $color) {
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: $sz;
  line-height: $lh;
  color: $color;
}

@mixin montserrat-regular($sz, $lh, $color) {
  font-weight: 400;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: $sz;
  line-height: $lh;
  color: $color;
}

@mixin montserrat-black($sz, $lh, $color) {
  font-weight: 900;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: $sz;
  line-height: $lh;
  color: $color;
}
